@use '../../main/variables' as *;

.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 1em 0;

  ul {
    list-style: none;
    display: flex;
    gap: 1em;
    background-color: rgba($primary, 0.25);
    padding: 0.5em;
    border-radius: 10px;

    li {
      background-color: rgba($primary, 0.25);
      padding: 1em 2em;
      border-radius: 10px;
    }
  }
}
