@use '../../main/variables' as *;

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  box-shadow: 0 0 1em 0.5em rgba($text, 0.2);

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $background;
    height: 100%;
    margin: 0;
    padding: 0;
    // Li left padding + icon width + gap
    --width: calc(1em + 2em + 1em);
    width: var(--width);
    overflow-x: hidden;
    transition: 100ms;

    &:hover {
      width: calc(var(--width) + 6em);
    }

    li {
      padding: 1em;
      transition: 200ms;

      &:hover {
        cursor: pointer;
        box-shadow: inset -0.25em 0 $primary;
        background-color: rgba($primary, 0.25);
        font-weight: bold;
      }

      &.primary {
        background-color: $primary;

        &:hover {
          background-color: $primary-shade;
          box-shadow: none;
        }
      }

      a {
        display: flex;
        align-items: center;
        gap: 1em;
        color: $text;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}
