@use '../../main/variables' as *;

$li-padding: 1em;
$icon-text-gap: 1em;
$menu-width: calc($li-padding + $icon-size + $icon-text-gap);

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  box-shadow: 0 0 1em 0.5em rgba($text, 0.2);
  display: flex;
  flex-direction: column;
  gap: 2em;
  background-color: $background;
  width: $menu-width;
  overflow-x: hidden;
  transition: 100ms;

  &:hover {
    width: calc($menu-width + 6em);
  }

  @media screen and (max-width: $md) {
    all: unset;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    margin: 0;
    padding: 0;

    &:hover {
      width: 100vw;
    }
  }

  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;

    &.pages {
      justify-content: space-between;
      flex: 1;

      .top {
        @media screen and (max-width: $md) {
          display: flex;
        }
      }
    }

    @media screen and (max-width: $md) {
      flex-direction: row;
    }

    li {
      padding: $li-padding;
      transition: 200ms;

      &:hover {
        cursor: pointer;
        box-shadow: inset -0.25em 0 $primary;
        background-color: rgba($primary, 0.25);
      }

      &.active {
        background-color: $primary;

        &:hover {
          background-color: $primary-shade;
          box-shadow: none;
        }
      }
    }
    a,
    .contains-icon {
      display: flex;
      align-items: center;
      gap: 1em;
      color: $text;

      &:hover {
        text-decoration: none;
        font-weight: bold;
      }
    }

    .label {
      @media screen and (max-width: $md) {
        display: none;
      }
    }
  }

  ul.profile {
    @media screen and (max-width: $md) {
      display: none;
    }

    .account {
      font-weight: bold;
    }

    img {
      width: 2em;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      outline: 2px solid $primary;
    }
  }
}
