@use 'sass:color';

// Base colours
$primary: #c09994;
$secondary: #b1b384;
$accent: #ddb99a;
$background: #f9f6f5;
$text: #160e0d;

// 15% darker
$primary-shade: color.mix($primary, $text, 85%);
$secondary-shade: color.mix($secondary, $text, 85%);
$accent-shade: color.mix($accent, $text, 85%);
$background-shade: color.mix($background, $text, 85%);

// Font sizes
$base-font-size: 1rem;
$type-scale: 1.125;
$small: calc($base-font-size / $type-scale);
$h6: calc($base-font-size * $type-scale);
$h5: calc($h6 * $type-scale);
$h4: calc($h5 * $type-scale);
$h3: calc($h4 * $type-scale);
$h2: calc($h3 * $type-scale);
$h1: calc($h2 * $type-scale);

// Icons
$icon-size: 1em;
$icon-menu-size: 2em;

// Breakpoints - from Bootstrap
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
