@use 'variables' as *;
@use '../components/sections/menu.scss' as *;

body {
  background-color: $background;
  color: $text;
  font-family: sans-serif;
  margin: 0;
  padding: 0 0 0 $menu-width;

  #root {
    padding: 2em;
  }
}

h1 {
  font-size: $h1;
}

h2 {
  font-size: $h2;
}

h3 {
  font-size: $h3;
}

h4 {
  font-size: $h4;
}

h5 {
  font-size: $h5;
}

h6 {
  font-size: $h6;
}

p {
  font-size: $base-font-size;
  margin: 0;
}

.small {
  font-size: $small;
}

a {
  text-decoration: none;
  color: $accent;

  &:hover {
    text-decoration: underline;
    color: $accent-shade;
  }
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  aspect-ratio: 1 / 1;

  svg {
    fill: $text;
    width: $icon-size;
    aspect-ratio: 1 / 1;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
