@use '../../main/variables' as *;

#page.tasks {
  display: flex;
  gap: 4em;
  width: fit-content;
  height: fit-content;

  @media screen and (max-width: $md) {
    flex-direction: column;
    width: 100%;
  }

  .status {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5em;
    padding: 2em;
    background-color: rgba($primary, 0.125);
    border-radius: 10px;
    min-width: 20em;
    min-height: 10em;

    @media screen and (max-width: $md) {
      min-width: 100%;
    }

    &:hover .controls {
      opacity: 1 !important;
    }

    .status-header {
      display: flex;
      justify-content: space-between;
      align-items: start;
      min-width: 100%;
      width: fit-content;
      gap: 2em;

      @media screen and (max-width: $md) {
        gap: 1em;
      }

      .metadata {
        display: flex;
        align-items: center;
        gap: 1em;

        h3 {
          margin: 0;
          text-wrap: nowrap;

          @media screen and (max-width: $md) {
            text-wrap: wrap;
          }

          &::first-letter {
            text-transform: uppercase;
          }
        }

        .total-tasks {
          aspect-ratio: 1 / 1;
          border: 2px solid rgba($accent, 0.5);
          border-radius: 10px;
          width: 2em;
        }
      }

      .controls {
        display: flex;
        gap: 0.5em;
        opacity: 0;
        transition: 200ms;

        button {
          aspect-ratio: 1 / 1;
          width: 2.5em;
          text-align: center;
          padding: 0;
        }
      }
    }

    .create-task {
      background-color: $background;
      text-align: center;
      border-radius: 10px;
      padding: 1em;
      margin-bottom: 0.5em;
      text-align: left;
      // display: flex;
      display: none;
      flex-direction: column;
      gap: 1em;

      input {
        background: transparent;
        border: 1px solid rgba($text, 0.5);
        border-radius: 10px;
        padding: 0.5em;
      }

      button {
        background-color: rgba($primary, 0.125);
        border: 1px solid rgba($accent, 0.5);
        border-radius: 10px;
        padding: 0.5em;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      li:not(:last-of-type) {
        margin-bottom: 1em;
      }
    }

    > p {
      margin: 0 0 1em 0;
    }

    > button,
    .status-header button {
      text-align: left;
      background-color: rgba($secondary, 0.5);
      border: none;
      border-radius: 10px;
      padding: 1em 1.5em;

      &:hover {
        cursor: pointer;
        background-color: rgba($secondary-shade, 0.5);
      }

      &:has(span) {
        display: flex;
        align-items: center;
        gap: 0.5em;
      }
    }
  }
}
